body {
    font-family: sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  .danh-sach-don-hang {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 5px;
    border: 1px solid #ccc;
  }