
# Bỏ qua các thư mục build
build/
dist/

# Bỏ qua các tệp và thư mục được tạo bởi NetBeans
nbproject/
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
*.orig
*.rej

# Bỏ qua các tệp nhị phân
*.class
*.exe
*.dll
*.so
*.dylib

# Bỏ qua các tệp log
*.log

# Bỏ qua các tệp tạm thời
*.tmp
*.swp
*.bak
*.old

# Bỏ qua các tệp cấu hình hệ thống
.DS_Store
Thumbs.db

# Bỏ qua các tệp môi trường ảo Python (nếu bạn sử dụng Python)
venv/
__pycache__/
*.pyc

# Bỏ qua các tệp build cho dự án Java
*.jar
*.war
*.ear
